
/*  global classes */

/* section */
.section {
  height: 80vh;
  width: 90vw;
  margin: 0 auto;
}


main {
  min-height: 100vh;
  display: inline;
  justify-content: center;
  margin-top: 8%;
  margin-bottom: 8%;
}

